
body{
	background-color:#967bb6;

}

h1{
	font-family: 'Roboto', sans-serif;
  font-weight: 800;
	font-size: 80px;
	color: #F13EA1;
	text-align: center;
}
h2{
	font-family: 'Roboto', sans-serif;
	color: #F13EA1;
  font-weight: 600;
	font-size: 50px;
	text-align: center;
	
}
p{
	text-align: center;
  font-family: 'Roboto', sans-serif;
	color: #1268AE;
	font-size: 20px;
	margin: 40px;
	padding-left: 150px;
	padding-right: 150px;

}
img{
	width: 250px;
	display: flex;
	justify-content: center;
	margin: auto;
	
}


